<div data-role="splitview" data-init="showcharts">
        <div data-role="pane">
            <div data-role="view" id="chartTypes" data-title="Charts">
               <ul data-role="listview">
                    <li>
                        <a href="#portfolioGrowth" data-target="main-pane">Portfolio Growth</a>
                    </li>
                    <li>
                        <a href="#bestworst" data-target="main-pane">Best Worst</a>
                    </li>
                </ul>              
                
            </div>
        </div>
        
        <div data-role="pane" id="main-pane">
            <div data-role="view" data-title="Charts" id="portfolioGrowth" >
                    <div id="portfolioGrowthChart"></div>
            </div>
            <div data-role="view" data-title="Charts" id="bestworst">
                    <div id="bestWorstAvgRtnChart"></div>
            </div>
        </div>
 </div>
