<!--<div data-role="view" id="chartsView" data-title="Charts2" data-align="left" data-init="registerTab" data-show="showcharts" >-->
	<!--<header data-role="header">
		<div data-role="navbar">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title"></span>
		</div>
	</header>-->
    
    
    
    <!--<div id="chartViewContent" data-role="content" >
        <div style="width:500px;height:500px">
            <div id="tabstrip">
                    <ul>
                        <li>Portfolio Growth</li>
                        <li>Holding Periods Volatility</li>
                    </ul>  
                    <div id="portfolioGrowthChart"></div>
                    <div id="bestWorstAvgRtnChart"></div>
            </div>
        </div>		
	</div>-->
    <!--<div data-role="content">
        <div data-role="navbar">
            <ul>
                <li><a href="#" data-href="a">One (A)</a></li>
                <li><a href="#" data-href="b">Two (B)</a></li>
            </ul>
        </div>
        <div class="content_div">onLoad Content</div>
        <div id="a" class="content_div">Some 'A' Content</div>
        <div id="b" class="content_div">Some 'B' Content</div>
    </div>-->

   <!--<div data-role="navbar">
        <ul>
                <li>
                    <a href="#chart1" class="ui-btn-active">One</a>
                </li>
                <li>
                    <a href="#chart2">Two</a>
                </li>
        </ul>
    </div>
    
    <div id="chart1">
        <div id="portfolioGrowthChart"></div>
    </div>
    
    <div id="chart2">
        <div id="bestWorstAvgRtnChart"></div>
    </div>
        
<!--</div>-->
    
   <div data-role="splitview" data-init="showcharts">
        <div data-role="pane">
            <div data-role="view" id="chartTypes" data-title="Charts">
               <ul data-role="listview">
                    <li>
                        <a href="#portfolioGrowth" data-target="main-pane">Portfolio Growth</a>
                    </li>
                    <li>
                        <a href="#bestworst" data-target="main-pane">Best Worst</a>
                    </li>
                </ul>              
                
            </div>
        </div>
        
        <div data-role="pane" id="main-pane">
            <div data-role="view" data-title="Charts" id="portfolioGrowth" >
                    <div id="portfolioGrowthChart"></div>
            </div>
            <div data-role="view" data-title="Charts" id="bestworst">
                    <div id="bestWorstAvgRtnChart"></div>
            </div>
        </div>
    </div>
<!--</div>-->