<div data-role="view" id="fileView" data-title="My Files" data-align="left" data-show="getMyFiles">
	<header data-role="header">
		<div data-role="navbar">
            <!--<a data-role="backbutton" data-align="left" href="#" id="backBtn">Back</a>-->
            <a data-role="backbutton" data-align="left" id="backBtn" href="#fileView">Back</a>          
            
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" data-rel="modalview" href="#addFolderDialog" id="addBtn" data-icon="add" ></a>
            
		</div>
        
	</header>
    <!--<div id="fileContent" class="demo-section" data-role="content">
        <ul id="treeview">
            <li data-expanded="true">
                <span class='k-sprite folder'></span>Backups
                <ul>
                    <li><span class='k-sprite'></span>Plugins</li>
                </ul>
             </li>
        </ul>	
        
	</div>-->
    
    
    
   <!-- <p>
    <div class="ui-grid-d" id="menuOptions1"  >
	   <div class="ui-block-a">
		    <input type="button" id="openBtn" value="Open" onclick="javascript:openBtnClicked();">
	   </div>
    	<div class="ui-block-b">
    		<input type="button" id="copyBtn" value="Copy" onclick="javascript:copyBtnCLicked();">
    	</div>
    	<div class="ui-block-c">
    		<input type="button" id="moveBtn" value="Move" onclick="javascript:moveBtnCLicked();">
    	</div>
    	<div class="ui-block-d">
    		<input type="button" id="pasteBtn" value="Paste" disabled onclick="javascript:pasteBtnCLicked();"> 
    	</div>
        <div class="ui-block-e">
    		<input type="button" id="deleteBtn" value="Delete" onclick="javascript:deleteBtnClicked();">
    	</div>
        <div class="ui-block-f">
    		<input type="button" id="addBtn" value="Add" onclick="javascript:addBtnClicked();">
    	</div>
     </div>
   </p>-->
    <div id="fileField" type="text" readonly="readonly" style="vertical-align:top;background:#777978;color:white;height:2em;margin-bottom:3em;font-style:italic"></div>
    
  <div id="addFolderDialog" data-role="modalview" style="width:70%;height:50%" >
      <p>
     <!-- <div data-role="content">        -->  
          <p><input id="radio_d" type="radio" value="d" name="dir-or-file" checked onclick="javascript:directorySelected();" />Directory
          <input id="radio_f" type="radio" value="f" name="dir-or-file" onclick="javascript:showTextarea();"/>File
           </p>
      	
      <!--</div>-->
          <p><input type="text" id="newName" placeholder="New Name" style="vertical-align:top">      
          <!--<input type="button" id="createBtn" value="create" onclick="javascript:createBtnClicked();">-->
           <span data-role="button" id="createBtn" onclick="javascript:createBtnClicked();" style="margin-left:1em">Create</span>
           <span data-role="button" id="cancelAddFolderBtn" onclick="javascript:closeAddFolderDiaog();" style="margin-left:1em">Cancel</span>
           </p>
          <div>
           <textarea id="filetext" style="display:none;margin-left:10px;width:400px;height:200px"></textarea>
          </div>
      </p>
</div>
    
    <!--<a id="menu" href="#addFolderDialog" data-rel="modalview">file details</a>-->
    
        
    
    
    <div class="ui-grid-c" id="dirContent">
	  <!--<div class="ui-block-a">
		    <div class="folder"><p>folder name</p></div>
	   </div>
    	<div class="ui-block-b">
    		<div class="folder"> <p>folder name</p></div>
    	</div>
    	<div class="ui-block-c">
    		<div class="folder"><p>folder name</p></div>
    	</div>
    	<div class="ui-block-d">
    		<div class="folder"><p>folder name</p></div>
    	</div>

    	<div class="ui-block-a">
    		<div class="file"><p>file name</p></div>
    	</div>
    	<div class="ui-block-b">
    		<div class="file"><p>file name</p></div>
    	</div>
    	<div class="ui-block-c">
    		<div class="file"><p>file name</p></div>
    	</div>
    	<div class="ui-block-d">
    		<div class="file"><p>file name</p></div>
    	</div>-->
    </div>
    <!--<div id="fileField" type="text" readonly="readonly" style="vertical-align:bottom;background:brown;color:white"></div>-->
 </div>   
    
    
    
    <!--<a id="menu" href="#menuOptions" data-rel="dialog">file details</a>
            <a id="get_file_details" href="#fileDetails" data-rel="dialog">file details</a>-->
    
    
 <!--   <div data-role="popover" id="menuOptions1" data-popup='{"height":"20em", "width":"20em"}'>
        <div data-role="view">
            <ul data-role="listview" data-style="inset">
                <li><a onclick="javascript:openBtnClicked();">Open</a></li>
                <li><a onclick="javascript:copyBtnCLicked();">Copy</a></li>
                <li><a onclick="javascript:moveBtnCLicked();">Move</a></li>
                <li><a disabled onclick="javascript:pasteBtnCLicked();">Paste</a></li>
                <li><a onclick="javascript:deleteBtnClicked();">Delete</a></li>
                <li><a onclick="javascript:closeMenuOptions();">Cancel</a></li>  
            </ul>	
        </div>
    </div>
</div>-->

<!--<div id="menuOptions" style="width: 95%; height: 18em;" data-role="modalview" >
        <div data-role="header">
            <div data-role="navbar">
                <span>Actions</span>
                <a data-click="coseModalViewLogin" data-role="button" data-align="right">Cancel</a>
            </div>
        </div>
        <input type="button" id="openBtn" value="Open" >
        <input type="button" id="copyBtn" value="Copy" >
</div>-->

    
<!--<div id="menuOptions" style="width: 20em; height: 22em;" data-role="modalview" >
    <ul data-role="listview" data-style="inset">
        <li><a onclick="javascript:openBtnClicked();">Open</a></li>
        <li><a onclick="javascript:copyBtnCLicked();">Copy</a></li>
        <li><a onclick="javascript:moveBtnCLicked();">Move</a></li>
        <li><a onclick="javascript:pasteBtnCLicked();" id="pasteBtn">Paste</a></li>
        <li><a onclick="javascript:deleteBtnClicked();">Delete</a></li>
        <li><a href="javascript:closeMenuOptions();" date-click="closeMenuOptions">Cancel</a></li>
    </ul>	  
</div>-->

<!--<div id="menuOptions11" style="width: 20em; height: 22em;">
    <div>
    		<p><input type="button" id="addBtn" value="Add" href="javascript:addBtnClicked();"></p>
    	</div>
       <div>
		<p><input type="button" id="openBtn" value="Open" href="javascript:openBtnClicked();"></p>
	   </div>
    	<div>
    		<p><input type="button" id="copyBtn" value="Copy" href="javascript:copyBtnCLicked();"></p>
    	</div>
    	<div>
    		<p><input type="button" id="moveBtn" value="Move" href="javascript:moveBtnCLicked();"></p>
    	</div>
    	<div>
    		<p><input type="button" id="pasteBtn" value="Paste" disabled href="javascript:pasteBtnCLicked();"></p> 
    	</div>
        <div>
    		<p><input type="button" id="deleteBtn" value="Delete" href="javascript:deleteBtnClicked();"></p>
    	</div>
        
</div>-->
    





