<div data-role="view" id="modelSearchView" data-title="Model Search" data-align="left">
	<header data-role="header">
		<div data-role="navbar">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title"></span>
		</div>
	</header>
    <div id="recentcontactViewContent" data-role="content">
		<!-- List of contacts -->
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                <!--<ul id="cardsList" data-role="listview" data-bind="source: cards" data-template="cardsListTemplate">
                </ul>-->
            </li>
        </ul>
	</div>
</div>