<div data-role="view" id="chartsView" data-title="More Charts" data-align="left" data-init="showmoreChartsInit" data-show="showMorecharts" >
	<header data-role="header">
		<div data-role="navbar">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title"></span>
		</div>
	</header>
    
    <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                Portfolio Growth
                
                <ul data-role="listview" data-style="inset">
                     <li>
                         <div id="portfolioGrowthChart"></div>
                      </li>                                
                </ul>
            </li>
           <li>
                 Holding Period Volatility
                   <ul data-role="listview" data-style="inset">
                     <li>
                         <div id="bestWorstAvgRtnChart"></div>
                     </li>
                   </ul>
           </li>
               
     </ul> 
</div>