<div data-role="view" id="recentModelsView" data-title="Recent Models">
	<header data-role="header">
		<div data-role="navbar">
            <a id="btnModelSearch" data-role="button" href="views/modelSearchView.html" 
                 data-align="left" data-icon="search"></a>
            <span data-role="view-title"></span>
		</div>
	</header>
    <div id="modelSearchViewContent" data-role="content">
		<!-- List of contacts -->
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                <!--<ul id="cardsList" data-role="listview" data-bind="source: cards" data-template="cardsListTemplate">
                </ul>-->
            </li>
        </ul>
	</div>
</div>