<div data-role="view" id="recentContactsView" data-title="Recent Contacts" data-init="getContactList">
	<header data-role="header">
		<div data-role="navbar">
            <a id="btnContactSearch" data-role="button" href="views/contactSearchView.html" 
                 data-align="left" data-icon="search"></a>
            <span data-role="view-title"></span>
		</div>
	</header>
    <!--<div id="recentcontactViewContent" data-role="content">	-->	
          <ul id="contactlist" data-role="listview" data-style="inset"></ul>        
        <!-- <div id="grid"></div>
            <table id="contactListGrid">              
                <thead id="contactListHdr">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            City
                        </th>                       
                        <th>
                            State
                        </th>
                        <th>
                            Zip
                        </th>
                        <th>
                            Last Accessed
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8"></td>
                    </tr>
                </tbody>
            </table>    -->   
            
    </div>    
 <!--</div>-->

<!--<script id="contactListRowTemplate" type="text/x-kendo-template">
        <tr>            
               <td><a href="\#hhSnapshotView?hhId=#: hh_id #">#: lname #, #: fname #</a></td>         
                <td>#: type #</td>
                 #if(phone == ""){# 
                    <td>NA</td> 
                #}else{#    
                    <td>#: phone #</td>
                #}#
                
                #if(city == ""){# 
                    <td>NA</td> 
                #}else{#    
                    <td>#: city #</td>
                #}#
                        
                #if(state == ""){# 
                    <td>NA</td> 
                #}else{#    
                    <td>#: state #</td>
                #}#
                        
                #if(zip == ""){# 
                    <td>NA</td> 
                #}else{#    
                    <td>#: zip #</td> 
                #}#
                <td>#: access_date #</td>
                <td>
                       <a href="views/hhProfileView.html?hhId=#: hh_id #" data-role="button">H</a>
                       <a href="" data-role="button">P</a>
                           
                </td>
                
       </tr>
</script>-->

<script type="text/x-kendo-template" id="recentcontact-listview-template">
    <a href="\#hhProfileView?hhId=${hh_id}" style="text-decoration:none;">${lname}, ${fname}              
            <p class="contact-type">${type}</p>
    </a>
</script>

 <script type="text/x-kendo-template" id="recentcontact-listview-template1">
             <a href="\#hhProfileView?hhId=${hh_id}" style="text-decoration:none;"><span class="km-listview-link">${lname}, ${fname}</span></a>
          <!-- <a href="\#hhSnapshotView?hhId=${hh_id}" style="text-decoration:none;">${lname}, ${fname} </a>             
            <p class="contact-type">${type}</p>
           <a href="\#hhProfileView?hhId=${hh_id}" data-role="button" data-icon="details" class="details-link" onclick="contactdetailclick(${hh_id});"></a>-->
 </script>

 <script type="text/x-kendo-template" id="recentcontact-listview-template2">
            <a href="\#hhSnapshotView?hhId=${hh_id}" onclick="contactnameclick(${hh_id});">${lname}, ${fname} </a> 
            
 </script>
   
 


<div data-role="view" id="hhSnapshotView" data-title="Household Snapshot" data-align="left" data-show="getHHSnapshot" >
	<header data-role="header">
		<div data-role="navbar">
            <a data-role="backbutton" data-align="left" href="#recentContactsView">Back</a>
            <span data-role="view-title"></span>
		</div>
	</header>
    
    <div id="hhSnapshotViewContent" data-role="content">       
        
        <div>
            <ul data-role="listview" data-style="inset" data-type="group">
                <li>
                    Household Members
                    <ul data-role="listview" data-style="inset">
                        <li>
                           <div id="hhListGrid"></div>
                        </li>
                    </ul>
                </li>
         
                <li>
                    Accounts
                    <ul data-role="listview" data-style="inset">  
                        <li>
                            <h3>Internal Accounts</h3>
                           <div id="intAcctGrid"></div>                  
                        </li>
                        <li>
                             <h3>External Accounts</h3>                             
                             <div id="extAcctGrid"></div>
                        </li>
                    </ul>
                    
                 </li>
            </ul>
        </div>
	</div>
</div>


<script type="text/x-kendo-template" id="account">
            <!--<a href="">hello</a>-->
            <!--<a href="\#hhSnapshotView?hhId=\#= myName \#"> \#= myName </a>-->
            <a data-role="detailbutton" data-style="rowdelete" data-click="removeSubReddit" data-id="${id}" class="delete"></a>
    </script>








/*****************************/




    


